<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} FLASK TITLE {% endblock %}</title>
</head>
<body>

    <nav>
        <a href="/">Home</a> |
        <a href="/register">Register</a> |
        <a href="/login">Login</a> |
        <a href="/logout">Logout</a>
    </nav>
    
    {% block content %}
    BLOCK CONTENT GOES HERE!
    {% endblock %}
</body>
</html>